[submodule "EmojiGotchi/foundry/lib/ds-test"]
	path = EmojiGotchi/foundry/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "EmojiGotchi/foundry/lib/openzeppelin-contracts"]
	path = EmojiGotchi/foundry/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "EmojiGotchi/foundry_final/lib/ds-test"]
	path = EmojiGotchi/foundry_final/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "EmojiGotchi/foundry_final/lib/openzeppelin-contracts"]
	path = EmojiGotchi/foundry_final/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "quiz-game/foundry/lib/ds-test"]
	path = quiz-game/foundry/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "timelocked-contracts/lib/ds-test"]
	path = timelocked-contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "timelocked-contracts/lib/openzeppelin-contracts"]
	path = timelocked-contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "ccip/estimate-gas/foundry/lib/forge-std"]
	path = ccip/estimate-gas/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ccip/estimate-gas/foundry/lib/ccip"]
	path = ccip/estimate-gas/foundry/lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "ccip/token-transfer-using-arbitrary-messaging/lib/forge-std"]
	path = ccip/token-transfer-using-arbitrary-messaging/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ccip/token-transfer-using-arbitrary-messaging/lib/chainlink-local"]
	path = ccip/token-transfer-using-arbitrary-messaging/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
[submodule "ccip/token-transfer-using-arbitrary-messaging/lib/ccip"]
	path = ccip/token-transfer-using-arbitrary-messaging/lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "ccip/token-transfer-using-arbitrary-messaging/lib/openzeppelin-contracts"]
	path = ccip/token-transfer-using-arbitrary-messaging/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "ccip/ccip-cla-rate-limits/lib/forge-std"]
	path = ccip/ccip-cla-rate-limits/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
