NFT_STORAGE_KEY='asdfasdfasdf'
PINATA_API_KEY='asdfasdfasdf'
PINATA_API_SECRET='asdfasdfasdf'
UPLOAD_TO_PINATA=true
ETHERSCAN_API_KEY='asdfasdfasdf'
COINMARKETCAP_API_KEY='asdfasdfasdf'
SEPOLIA_RPC_URL='asdfasdfasdf'