# Node modules
/node_modules

# Environment variables
.env
.env.enc

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts
/build

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Hardhat Ignition deployments
/ignition/deployments
